:root {
    --black: #000000;
    --black-soft: #212121;
    --blue: #2196f3;
    --grey: #757575;
    --grey-soft: #e5e5e5;
    --white: #ffffff;
    --white-sixty: rgba(rgba(255, 255, 255, 0.6));
}
body {
    color: var(--black-soft);
    font-family: "Roboto", "Raleway", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--grey-soft);
    margin: 0;
    padding: 0;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}
.header {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
.main-heading {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
}
.second-heading {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
}
.third-heading {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
}
.names {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
}
.description {
    color: var(--grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.profession {
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
}
.product-name {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 2;
}
.product-type {
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.88;
}
.link {
    color: var(--black-soft);
}
.link:hover,
.link:focus {
    color: var(--blue);
}
.button-main {
    font-family: "Roboto", sans-serif;
    color: var(--white);
    background-color: var(--blue);
    border-style: none;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
}
.button-portfolio {
    font-family: "Roboto", sans-serif;
    color: var(--black-soft);
    border-style: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    cursor: pointer;
    text-align: center;
}
.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--white);
    background-color: var(--blue);
    border-style: none;
}
.footer {
    text-decoration: none;
}
.foot-normal {
    font-style: normal;
}
.black {
    color: var(--black);
}
.black-soft {
    color: var(--black-soft);
}
.blue {
    color: var(--blue);
}
.grey {
    color: var(--grey);
}
.white {
    color: var(--white);
}
.white-alpha {
    color: var(--white-sixty);
}
