@import "./utils/colors";
@import "./utils/common";
@import "./utils/fonts";
@import "./utils/mixins";
@import "./components/mobile-menu";
@import "./components/header";
@import "./components/main-section";
@import "./components/footer";
@import "./components/modal";
@import "./components/portfolio-page";

body {
   color: $black-soft;
   font-family: $font-family;
   font-size: 14px;
   letter-spacing: $ls-standard;
   background-color: $white;
   margin: 0;
   padding: 0;
}
