.footer {
   padding: 60px 0px;
   background-color: $graphite;
   &--fbox {
      display: flex;
      gap: 70px;
   }
   &__contacts {
      display: flex;
      flex-direction: column;
      gap: 9px;
   }
   &__address {
      font-style: normal;
      color: $white;
      line-height: 1.71;
   }
   &__link {
      text-decoration: none;
      color: $grey;
      line-height: 1.71;
   }
   &__heading {
      color: $white;
   }
   &__heading--join {
      padding-top: 12px;
   }
   &__icons {
      display: flex;
      gap: 10px;
      margin-top: 20px;
   }
   &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 30px;
      height: 44px;
      width: 44px;
      fill: $white;
      background-color: $footer-back;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   &__icon:hover {
      background-color: $blue;
   }
   &__input {
      font-weight: $fw-regular;
      font-size: 16px;
      line-height: 1.25;
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: rgba(255, 255, 255, 0.6);
      background-color: $graphite;
      border-radius: 4px;
      padding-left: 16px;
   }
   &-button {
      position: relative;
      color: $white;
      font-weight: $fw-bold;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: $ls-header;
      text-align: left;
      width: 200px;
      height: 49px;
      background: $blue;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border-style: none;
      margin-left: 12px;
      padding-left: 42px;
      cursor: pointer;
   }
   &__heading--signIn {
      color: $white;
      padding-top: 12px;
      padding-bottom: 20px;
   }
   &__button-icon {
      position: absolute;
      top: 13px;
      right: 28px;
      fill: $white;
   }
}
