.footer {
   padding: 60px 0px;
   background-color: $graphite;
   &__container {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;
   }
   &__logo {
      font-family: $font-family;
      font-size: 26px;
      text-decoration: none;
      font-weight: $fw-bold;
      color: $white;
   }
   &__item {
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   &__logo-blue {
      font-family: $font-family;
      color: #2196f3;
   }
   &__contacts {
      display: flex;
      flex-direction: column;
      gap: 9px;
   }
   &__address {
      font-style: normal;
      color: $white;
      line-height: 1.71;
      padding-top: 20px;
   }
   &__link {
      text-decoration: none;
      color: $grey;
      line-height: 1.71;
   }
   &__heading {
      color: $white;
      padding-top: 12px;
   }
   &__sign-in {
      margin-top: 20px;
   }

   &__icons {
      display: flex;
      gap: 10px;
      margin-top: 20px;
   }
   &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 30px;
      height: 44px;
      width: 44px;
      fill: $white;
      background-color: $footer-back;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   &__icon:hover {
      background-color: $blue;
   }
   &__input {
      font-weight: $fw-regular;
      font-size: 16px;
      line-height: 1.25;
      width: 100%;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: $white-sixty;
      background-color: $graphite;
      border-radius: 4px;
      padding-left: 16px;
      margin-right: 15px;
      margin-bottom: 20px;
   }
   &-button {
      position: relative;
      color: $white;
      font-weight: $fw-bold;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: $ls-header;
      text-align: left;
      width: 200px;
      height: 49px;
      background: $blue;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border-style: none;
      margin-left: 12px;
      padding-left: 42px;
      cursor: pointer;
   }
   &__button-icon {
      position: absolute;
      top: 13px;
      right: 28px;
      fill: $white;
   }
}

// -------------------------------------------------------------------------------------------------------------------------- 7 6 8

@media (min-width: 768px) {
   .footer {
      padding: 0;
      &__container {
         width: 768px;
         gap: 60px;
         flex-direction: row;
         flex-wrap: wrap;
         padding: 60px 0;
      }
      &__input {
         margin-right: 0;
      }
   }
}

// ------------------------------------------------------------------------------------------------------------------------ 1 2 0 0

@media (min-width: 1200px) {
   .footer {
      background-color: $graphite;
      &__container {
         width: 1200px;
         margin: 0 auto;
         gap: 70px;
      }

      &__item {
         text-align: left;
         align-items: flex-start;
      }

      &__input {
         width: 358px;
         padding-left: 16px;
      }
   }
}
