.logo {
   font-family: $font-family;
   font-size: 26px;
   text-decoration: none;
   font-weight: $fw-bold;
   color: $black;
   &--blue {
      color: $blue;
   }
   &--white {
      color: $white;
      padding-bottom: 20px;
      display: block;
   }
}
.header {
   background-color: $white;
   border-bottom: 1px solid $grey-soft;
   font-family: $font-main;
   font-size: 14px;
   font-weight: $fw-medium;
   letter-spacing: $ls-links;
   text-decoration: none;
}
.container {
   width: 1200px;
   @include center;
   &--fbox {
      display: flex;
      align-items: center;
      padding: 25px 0;
   }
}
.nav {
   display: flex;
   padding-left: 93px;
   gap: 46px;
   &__item {
      font-family: $font-main;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: $ls-links;
      text-decoration: none;
      color: $black-soft;
      &--active {
         position: relative;
         color: $blue;
         &::after {
            content: "";
            position: absolute;
            top: 46px;
            left: 0px;
            width: 58px;
            height: 4px;
            border-radius: 2px;
            background-color: $blue;
         }
      }
   }
}
.contact {
   display: flex;
   padding-left: 371px;
   gap: 50px;
   &__item {
      color: $grey;
      fill: $grey;
   }
   &__link {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      :focus {
         color: $blue;
      }
      &:hover .contact__icon,
      :focus .contact__icon {
         color: $blue;
         fill: $blue;
      }
   }
   &-fbox {
      display: flex;
      align-items: center;
      gap: 10px;
   }
   &__icon {
      visibility: visible;
   }
}
