.header {
   background-color: $white;
   border-bottom: 1px solid $grey-soft;
   font-family: $font-main;
   font-size: 14px;
   font-weight: $fw-medium;
   letter-spacing: $ls-links;
   text-decoration: none;
   &__container {
      width: 1200px;
      @include center;

      display: flex;
      align-items: center;
      padding: 25px 0;
   }
   &__logo {
      font-family: $font-family;
      font-size: 26px;
      text-decoration: none;
      font-weight: $fw-bold;
      color: $black;
      &-blue {
         color: $blue;
      }
   }
   &__nav {
      display: flex;
      padding-left: 93px;
      gap: 46px;
      &-item {
         font-family: $font-main;
         font-size: 14px;
         font-weight: 500;
         line-height: 1.14;
         letter-spacing: $ls-links;
         text-decoration: none;
         color: $black-soft;
      }
   }
   &__active {
      position: relative;
      color: $blue;
      &::after {
         content: "";
         position: absolute;
         top: 46px;
         left: 0px;
         width: 58px;
         height: 4px;
         border-radius: 2px;
         background-color: $blue;
      }
   }
   &__contact {
      display: flex;
      padding-left: 371px;
      gap: 50px;
      &-link {
         color: $grey;

         display: flex;
         align-items: center;
         gap: 10px;
         text-decoration: none;
         transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
         &:hover,
         :focus {
            color: $blue;
         }
         &:hover .header__contact-icon,
         :focus .header__contact-icon {
            color: $blue;
            fill: $blue;
         }
      }
      &-icon {
         fill: $grey;
      }
   }
}
