.section-top {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 30px;
   padding: 118px 0px;
   max-width: 1600px;
   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-head.jpg);
   background-color: rgba(47, 48, 58, 0.4);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   &__heading {
      max-width: 365px;
      color: $white;
      font-weight: $fw-extrabold;
      font-size: 26px;
      line-height: 1.36;
      letter-spacing: $ls-header;
      text-align: center;
      margin: 0 auto;
   }
   &__btn {
      font-family: $font-main;
      color: $white;
      font-weight: $fw-bold;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: $ls-header;
      text-align: center;
      width: 200px;
      height: 50px;
      background: $blue;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border-style: none;
      cursor: pointer;
   }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
   .section-top {
      background-image: url(../images/mobile-head@2x.jpg);
   }
}
.features {
   padding: 0;

   &__container {
      width: 100%;
      margin: 0 auto;
   }
   &__items {
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      padding: 60px 15px;
      max-width: 450px;
   }
   &__item {
      width: 100%;
   }
   &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      margin-bottom: 30px;
      height: 120px;
      background-color: $grey-team;
   }
   &__title {
      font-weight: $fw-bold;
      font-size: 14px;
      text-align: center;
      letter-spacing: $ls-standard;
   }
   &__description {
      color: $grey;
      font-weight: $fw-regular;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: $ls-standard;
      margin-top: 10px;
      text-align: center;
   }
}
.about {
   display: none;
   padding: 60px 0px;
   &__container {
      width: 1200px;
      margin: 0 auto;
   }
   &__heading {
      font-weight: $fw-bold;
      font-size: 36px;
      letter-spacing: $ls-standard;
      text-align: center;
      margin-bottom: 50px;
   }
   &__item {
      position: relative;
   }
   &__cards {
      display: flex;
      justify-content: space-between;
   }
   &__title {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      font-weight: $fw-bold;
      font-size: 14px;
      letter-spacing: $ls-standard;
      width: 100%;
      height: 70px;
      bottom: 0;
      left: 0;
      text-transform: uppercase;
      color: $white;
      background-color: $section-back2;
   }
}
.team {
   padding: 60px 0px;
   background-color: $grey-team;
   &__container {
      width: 100%;
      margin: 0 auto;
   }
   &__heading {
      font-weight: $fw-bold;
      font-size: 28px;
      letter-spacing: $ls-standard;
      text-align: center;
      margin-bottom: 50px;
   }
   &__cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      margin: 15px;
   }
   &__card {
      max-width: 450px;
      background-color: $white;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
   }
   &__name {
      font-weight: $fw-medium;
      font-size: 16px;
      letter-spacing: $ls-standard;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 10px;
   }
   &__profession {
      color: $grey;
      font-weight: $fw-regular;
      font-size: 16px;
      text-align: center;
      letter-spacing: $ls-standard;
      padding-bottom: 16px;
   }
   &__icons {
      display: flex;
      justify-content: center;
      gap: 10px;
   }
   &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 30px;
      height: 44px;
      width: 44px;
      fill: #afb1b8;
      background-color: $white;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   &__icon:hover {
      background-color: $blue;
      fill: $white;
      cursor: pointer;
   }
}

.clients {
   padding: 60px 0px;
   &__container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
   }
   &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 30px;
   }
   &__vector {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 92px;
      width: 210px;
      fill: #afb1b8;
      background-color: $white;
      border: 1px solid #afb1b8;
      border-radius: 4px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   &-heading {
      font-weight: $fw-bold;
      font-size: 28px;
      letter-spacing: $ls-standard;
      text-align: center;
      margin-bottom: 50px;
   }
   &__vector:hover {
      fill: $blue;
      cursor: pointer;
      border: 1px solid #2196f3;
   }
}

// ____________________________________________________________________________________________________________  7  6  8 ___________

@media (min-width: 768px) {
   .section-top {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-head.jpg);
      background-color: rgba(47, 48, 58, 0.4);
      &__heading {
         max-width: 385px;
      }
      &__btn {
         font-size: 16px;
      }
   }
   @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
      .section-top {
         background-image: url(../images/tablet-head@2x.jpg);
      }
   }

   .features {
      padding: 94px 0px;
      &__container {
         width: 768px;
         margin: 0 auto;
      }
      &__items {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         max-width: initial;
         padding: 0;
      }
      &__item {
         width: 100%;
         flex-basis: calc((100% - 120px) / 4);
      }
      &__icon {
         height: 120px;
         width: 354px;
         background-color: $grey-team;
      }
      &__title {
         font-size: 14px;
      }
      &__description {
         line-height: 1.71;
      }
   }
   .about {
      padding: 94px 0px;
      &__container {
         width: 1200px;
         margin: 0 auto;
      }
   }
   .team {
      padding: 94px 0px;
      &__heading {
         font-size: 36px;
      }
      &__container {
         width: 768px;
         display: flex;
         flex-direction: column;
      }
      &__cards {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         margin: 0 15px;
      }
      &__card {
         width: 354px;
      }
   }
   .clients {
      padding: 94px 0px;
      &__container {
         width: 768px;
      }
      &__list {
         display: flex;
      }
      &__vector {
         width: 226px;
      }
      &-heading {
         font-size: 36px;
      }
      &__vector:hover {
         cursor: pointer;
      }
   }
}
// ____________________________________________________________________________________________________________  1  2  0  0 ___________

@media (min-width: 1200px) {
   .section-top {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/head.jpg);
      background-color: rgba(47, 48, 58, 0.4);
      padding: 200px 0px;
      margin: 0 auto;
      &__heading {
         max-width: 696px;
         font-size: 44px;
      }
      &__btn {
         cursor: pointer;
      }
   }
   @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
      .section-top {
         background-image: url(../images/head@2x.jpg);
      }
   }
   .features {
      &__container {
         width: 1200px;
      }
      &__items {
         display: flex;
         justify-content: space-between;
         padding: 0;
      }
      &__item {
         width: 270px;
      }
      &__icon {
         width: 270px;
      }
      &__title {
         font-weight: $fw-bold;
         font-size: 14px;
         letter-spacing: $ls-standard;
      }
      &__description {
         line-height: 1.72;
      }
   }
   .about {
      display: initial;

      &__container {
         width: 1200px;
      }
   }
   .team {
      &__container {
         width: 1200px;
         margin: 0 auto;
      }
      &__cards {
         justify-content: space-between;
         flex-wrap: nowrap;
         padding: 0;
      }
      &__card {
         height: 428px;
         width: 270px;
      }
   }
   .clients {
      &__container {
         width: 1200px;
      }
      &__vector {
         width: 170px;
      }
      &-heading {
         margin-bottom: 50px;
      }
      &__vector:hover {
         fill: $blue;
      }
   }
}
