$black: #000000;
$black-soft: #212121;
$blue: #2196f3;
$grey: #757575;
$grey-soft: #e5e5e5;
$grey-team: #f5f4fa;
$white: #fff;
$white-sixty: #ffffff99;
$graphite: #2f303a;
$section-back2: #2f303acc;
// (1x)
$section-back: #2f303a66;
$footer-back: #ffffff1a;
$overlay: #2196f3e6;
$backdrop: #00000033;
$placeholder: #75757580;
