// FONT WEIGHTS
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-extrabold: 900;
// LETTER SPACING
$ls-standard: 0.03em;
$ls-header: 0.06em;
$ls-links: 0.02em;
// OTHERS
$font-main: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;
$font-family: "Roboto", "Raleway", sans-serif;
